.quizapp{
    height: 55vh;
    width: 600px;
background-color: white;
border-radius: 15px;
display: flex;
flex-direction: column;
align-items: center;

}
p{
    font-size: 2rem;
    font-weight: bold;
    
}

span{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 1.5rem
}

.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.btn{
    background-color: gold;
    width: 100%;
    display: flex;
    margin-top: 20px;
    font-weight: 500;
    color: white;

}
.add{
    background-color: blue;

}
.next{
    
    width: 100%;
    background-color: rgb(0, 255, 0);
    color: white;
    font-size: 1.6rem;
    border-style: dashed;
    border-color: rgb(0, 255, 0); 
}
